<div class="container">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input
          id="title"
          name="title"
          [(ngModel)]="course.title"
          type="text"
          class="form-control"
          required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
          id="description"
          name="description"
          [(ngModel)]="course.description"
          class="form-control"></textarea>
    </div>
    <div class="form-group">
      <date-field [course]="course"></date-field>
    </div>
    <div class="form-group">
      <duration-field [course]="course"></duration-field>
    </div>
    <button
        (click)="onSubmit();"
        type="submit"
        class="btn btn-success">Save</button>
    <button
        (click)="onCancel();"
        type="submit"
        class="btn">Cancel</button>
  </form>
</div>
