<div class="container"
    [ngClass]="{'starred': item.topRated}"
    [borderColoredBy]="item.createDate">
  <div class="details">
    <div class="details-header">
      <span class="title">{{item.title | uppercase}}</span>
      <span class="duration">{{item.durationMin | duration}}</span>
      <span *ngIf="item.topRated" class="top-rated">&#9734;</span>
      <span class="spacer"></span>
      <span class="create-date">{{item.createDate | date}}</span>
    </div>
    <div class="description">
      {{item.description}}
    </div>
  </div>
  <div class="actions">
    <button>Edit Course</button>
    <button (click)="deleteCourse();">Delete</button>
  </div>
</div>
