.container {
  border: 2px solid black;
  display: flex;
  margin-top: 10px;
  max-width: 100%;
  padding: 10px;
}

.container.starred {
  background-color: #fad6a5;
}

.details {
  flex: 1;
  padding: 10px;
}

.details-header {
  display: flex;
  max-width: 100%;
}

.title {
  font-weight: bold;
}

.duration {
  margin-left: 10px;
}

.top-rated {
  margin-left: 10px;
}

.spacer {
  flex: 1;
}

.create-date {
  font-style: italic;
}

.description {
  font-size: 12px;
}

.actions {
  display: flex;
  flex-direction: column;
}
