.container {
  display: flex;
  margin-top: 10px;
  max-width: 100%;
}

.search-box {
  margin: 5px;
  width: 300px;
}

.search-button {
  margin: 5px;
  width: 100px;
}

.add-course-button {
  margin: 5px;
  width: 100px;
}