@import "../../../../styles/_variables.scss";

.main-navbar {
  height: 70px;
  background-color: $c-primary;
  color: white;
}

.container {
  display: flex;
}

.container > * {
  padding: 10px;
}

.container > breadcrumbs {
  flex: 1;
}
