@import "../../../../styles/_variables.scss";

.main-footer {
  background-color: $c-primary;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
